{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block content %}
    <h1>{{ header }}</h1>
    {% if user.is_authenticated %}
<div class="container">
        <ul class="list-group">
                {% for order in orders_list %}
                    <li>
                        <div class="main_block_elem">
                            <h4>{{ order.name }}</h4>
                            Описание: {{ order.description }}<br>

                        </div>
                    </li>
                {% empty %}
                    <li>пустой список</li>
                {% endfor %}
            </ul>
</div>
    {%  endif %}
{% endblock %}